*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 50px;
}


.choice {
  height: 25vh;
  display: flex;
  justify-content: center;
}

.computer-hand {
  width: 250px;
}

.user-hand {
  width: 250px;
  transform: rotateY(180deg);
}


